.margin-top-bottom{
  	margin-top: 5em;
  	margin-bottom: 200px;
 }
hr{
	max-width:100px;
	border-width:3px;
	}
.navbar-brand {
  padding: 0px;
}
.margin-top{
	margin-top: 1em;
}
.padding-bottom{
	padding-bottom: 1rem;
}
.text-encom{
	color: #ff4500;
}
.bg-encom{
	background-color: #ff4500;
}
.section-gray{
  	background-color: #f1f1f1;
}
a.contact:link{
	color: black;
}
a.contact:hover{
	text-decoration: none;
	text-color: black;
}
a.contact:visited{
	color:black;
}
div.pd-top{
	padding-top: 3.5rem;
}
div.pd-btm{
	padding-bottom: 3.5rem;
}