/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoFacebook:hover {
	background-color:#3b5998;
}
.social-network a.icoGithub:hover {
	background-color:#913399;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb5;
}

.social-network a.icoFacebook:hover i, .social-network a.icoGithub:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover, .social-network a.icoLinkedin:hover i {
	color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social-circle li a:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle i {
	color: #fff;
}

a.social {
 background-color: #868e96;   
}

.footer-bottom {
	background: inherit;
	padding-top: 10px;	
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.footer-botom, p.bottom {
  margin-bottom: 0px;
  padding-bottom: 5px;
}
